<%- include header %>
<div class="content">
    <div class="content_resize">

        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                <div class="item active">
                    <a href="#" onclick="getAnnouncement('<%= announcements[0].title %>')">
                        <img src="/images<%= announcements[0].background %>" height="100%" width="100%" alt="First slide">
                    </a>
                    <div class="banner-title">
                        <div class="container">
                            <div  id="top" class="callbacks_container">
                                <ul class="rslides" id="slider3">
                                    <li><h1><%= announcements[0].title %></h1></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <% for (var i = 1; i < announcements.length; i++) { %>
                    <div class="item">
                        <a href="#" onclick="getAnnouncement('<%= announcements[i].title %>')">
                            <img src="/images<%= announcements[i].background %>" height="100%" width="100%" alt="Second slide">
                        </a>
                        <div class="banner-title">
                            <div class="container">
                                <div  id="top" class="callbacks_container">
                                    <ul class="rslides" id="slider3">
                                        <li><h1><%= announcements[i].title %></h1></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="carousel-control left" href="#myCarousel"
               data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel"
               data-slide="next">&rsaquo;</a>
        </div>
        <br />

        <div class="mainbar">
            <% posts.forEach(function (post) { %>
            <div class="article">
                <h2><span><% if (post.transfer) { %> <a style="color: #39b3d7">[转]</a> <% } else { %> <a style="color: red">[原]</a><% } %><%= post.title %></span></h2>
                <div class="clr"></div>
                <p>博主:<a href="/space/<%= post.name %>"><%= post.name %></a>,日期:<%= post.time.day %>,浏览次数:<%= post.pv %>;评论:<%= post.c_num %></p>
                <div class="clr"></div>
                <p><%= post.post.html %></p>
               <p><a href="/space/blog/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">阅读全文</a></p>
            </div>
            <% }) %>
            <div class="article" style="padding:5px 20px 2px 20px; background:none; border:0;" align="center">
                <ul class="pagination">
                    <li>
                        <a href="/page/1" aria-label="<<">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <% if (page != 1) { %>
                    <li>
                        <a href="/page/<%= (page - 1) %>" aria-label="<">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <% } %>
                    <% for(var i = 0; i < total; i++)  { %>
                    <li <% if(i == page - 1) { %> class="active" <% } %>><a href="/page/<%= i+1 %>" ><%= i + 1 %></a></li>
                    <% } %>
                    <% if (page != total) { %>
                    <li>
                        <a href="/page/<%= (page + 1) %>" aria-label=">">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <% } %>
                    <li>
                        <a href="/page/<%= total %>" aria-label=">>">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                </ul>
                </p>
            </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            公告内容
                        </h4>
                    </div>

                    <div class="modal-body">
                        <!--<input id="name" type="text" rows="3" class="form-control" name="content" placeholder="请输入回复内容..." required>-->
                        <div data-spy="scroll" data-target="#navbar-example" data-offset="0"
                             style="height:350px;weight:500px;overflow:auto; position: relative;">
                            <p id="m-content">正文</p>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </div>
<%- include rightbar %>
<%- include footer %>