<%- include header %>
<br />
<div class="content">
    <div class="content_resize">
        <div class="container" style="width: auto" align="center">
            <h1>排行榜</h1>
            <br /><br />
            <div class="row">
                <div class="col-md-5" align="center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="text-muted bootstrap-admin-box-title">博文排行</div>
                        </div>
                        <div class="bootstrap-admin-panel-content">
                            <table class="table">
                                <colgroup>
                                    <col style="width:100px">
                                    <col style="width:700px">
                                    <col style="width:200px">
                                </colgroup>
                                <tr>
                                    <th style="text-align: left">排名</th>
                                    <th style="text-align: center">标题</th>
                                    <th style="text-align: right">阅读次数</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var i = 0; i < posts.length; i++) { %>
                                <tr>
                                    <td style="text-align: center"><%= i + 1 %></td>
                                    <td style="text-align: center"><a href="/space/blog/<%= posts[i].name %>/<%= posts[i].time.day %>/<%= posts[i].title %>"><%= posts[i].title %></a></td>
                                    <td style="text-align: right"><%= posts[i].pv %></td>
                                </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-2" ></div>

                <div class="col-md-5" align="center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="text-muted bootstrap-admin-box-title">空间排行</div>
                        </div>
                        <div class="bootstrap-admin-panel-content">
                            <table class="table">
                                <colgroup>
                                    <col style="width:100px">
                                    <col style="width:700px">
                                    <col style="width:200px">
                                </colgroup>
                                <tr>
                                    <th style="text-align: left">排名</th>
                                    <th style="text-align: center">博主</th>
                                    <th style="text-align: right">访问次数</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var i = 0; i < spaces.length; i++) { %>
                                <tr>
                                    <td style="text-align: center"><%= i + 1 %></td>
                                    <td style="text-align: center"><a href="/space/<%= spaces[i].name %>"><%= spaces[i].name %></a></td>
                                    <td style="text-align: right"><%= spaces[i].pv %></td>
                                </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>


            <br /><br />
            <div class="row">
                <div class="col-md-5" align="center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="text-muted bootstrap-admin-box-title">评论排行</div>
                        </div>
                        <div class="bootstrap-admin-panel-content">
                            <table class="table">
                                <colgroup>
                                    <col style="width:100px">
                                    <col style="width:700px">
                                    <col style="width:200px">
                                </colgroup>
                                <tr>
                                    <th style="text-align: center">排名</th>
                                    <th style="text-align: center">标题</th>
                                    <th style="text-align: right">评论次数</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var i = 0; i < comments.length; i++) { %>
                                <tr>
                                    <td style="text-align: center"><%= i + 1 %></td>
                                    <td style="text-align: center"><a href="/space/blog/<%= comments[i].name %>/<%= comments[i].time.day %>/<%= comments[i].title %>"><%= comments[i].title %></a></td>
                                    <td style="text-align: right"><%= comments[i].c_num %></td>
                                </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-md-2" ></div>

                <div class="col-md-5" align="center">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="text-muted bootstrap-admin-box-title">相册排行</div>
                        </div>
                        <div class="bootstrap-admin-panel-content">
                            <table class="table">
                                <colgroup>
                                    <col style="width:100px">
                                    <col style="width:700px">
                                    <col style="width:200px">
                                </colgroup>
                                <tr>
                                    <th style="text-align: left">排名</th>
                                    <th style="text-align: center">标题</th>
                                    <th style="text-align: right">浏览次数</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var i = 0; i < albums.length; i++) { %>
                                <tr>
                                    <td style="text-align: center"><%= i + 1 %></td>
                                    <td style="text-align: center"><a href="/space/<%= albums[i].name %>/albums/<%= albums[i].id %>"><%= albums[i].title %></a></td>
                                    <td style="text-align: right"><%= albums[i].pv %></td>
                                </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
    </div>
</div>
<%- include footer %>