<div class="sidebar">
    <div class="gadget" align="center">
        <h2><% if(!user) { %>欢迎登陆<% } else { %>欢迎来临幻想乡<% } %></h2>
        <div class="clr"></div>
        <br />
        <form method="post" class="form-horizontal">
            <% if(user) { %>
            <div class="form-group">
                <div class="col-xs-12">
                    <a href="/space/<%= user.name %>"><img width="100px" height="100px" style="border-radius: 500px"  src="/images/<%= user.avatar %>" class="img-thumbnail "/></a>
                </div>
            </div>
            <% } %>

            <div class="form-group">
                <div class="col-xs-12">
                    <% if(user) { %><p id="welcome" style="color:#808080;font-size:16px;">欢迎回来<a href="/space/<%= user.name %>"><%= user.name %></a></p>
                    <% } else { %><input id="name" type="text" class="form-control" name="name" placeholder="请输入用户名" required> <% } %>
                </div>
            </div>
            <% if(error.login=='用户不存在!') { %><div class="alert alert-danger"><%= error.login %></div><% } %>
            <% if(!user) { %>
            <div class="form-group">
                <div class="col-xs-12">
                    <input id="password" type="password" class="form-control" name="password" placeholder="请输入密码" required>
                </div>
            </div>
            <br />
            <% if(error.login=='密码不正确!') { %><div class="alert alert-danger"><%= error.login %></div><% } %>

            <div class="form-group">
                <div class="col-xs-5">
                    <input type="submit" class="btn btn-info btn-block" value="登&nbsp;&nbsp;&nbsp;&nbsp;录"/>
                </div>
                <div class="col-xs-offset-1 col-xs-5">
                    <button type="button" class="btn btn-info btn-block" onclick="gotoRegister()">注&nbsp;&nbsp;&nbsp;&nbsp;册</button>
                </div>
            </div>
            <% } %>

        </form>
        <% if (user) { %>
        <div class="form-group">
            <div class="col-xs-12">
                <a href="/logout"><button class="btn btn-info btn-block">登&nbsp;&nbsp;&nbsp;&nbsp;出</button></a>
            </div>
        </div>
        <br />
        <% }  %>
    </div>

    <div class="gadget">
        <h2>推荐博主</h2>
        <div class="clr"></div>
        <p>
            <% if (bloggers.length == 0) { %>
                <p>还没有人参与进来哦~</p>
            <% } else { %>
                <% for(var i = 0; i < bloggers.length; i++) { %>
                    <% if (i % 3 == 0) { %>
                        <a href="/space/<%= bloggers[i].name %>" title="<%= bloggers[i].name %>"><img src="/images/<%= bloggers[i].avatar %>"  width="60" height="60" style="margin-left: 0em;margin-top: 1em"/></a>
                    <% } else {%>
                        <a href="/space/<%= bloggers[i].name %>" title="<%= bloggers[i].name %>"><img src="/images/<%= bloggers[i].avatar %>"  width="60" height="60" style="margin-left: 1em;margin-top: 1em"/></a>
                    <% } %>
                <% } %>
            <% } %>
        </p>
    </div>

    <div class="gadget">
        <h2><span>最新留言</span></h2>
        <div class="clr"></div>
        <ul class="ex_menu">
            <% if(comments.length === 0) { %>
                <li>还没有人留言~</li>
            <% } else { %>
            <% comments.forEach(function (comment) { %>
            <li><a href="space/<% if(comment.c_name) { %> <%= comment.c_name %> <% } else { %> <%= comment.r_name %> <% }%>" title="Website Templates">
                    <% if(comment.c_name) { %> <%= comment.c_name %> <% } else { %> <%= comment.r_name %> <% }%></a><br />
                <%= comment.content %></li>
            <% }) %>
            <% }%>
        </ul>
    </div>
</div>
<div class="clr"></div>
</div>
</div>