<%- include header %>
<%- include leftbar %>
<!-- content -->
<div class="col-md-10">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header bootstrap-admin-content-title">
                <h1>公告管理</h1>
                <a href="/main/announcements/new" class="action btn">
                    新增公告
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">公告</div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <table class="table bootstrap-admin-table-with-actions">
                        <colgroup>
                            <col style="width:100px">
                            <col style="width:200px">
                            <col style="width:700px">
                            <col style="width:200px">
                            <col style="width:200px">
                            <col style="width:400px">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>标题</th>
                            <th>公告内容</th>
                            <th>发布者</th>
                            <th>发布日期</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <% for (var i = 0; i < announcements.length; i++)  { %>
                        <tbody>
                            <td><%= i + 1 %></td>
                            <td><%= announcements[i].title %></td>
                            <td><%= announcements[i].content.html %></td>
                            <td><%= announcements[i].name %></td>
                            <td><%= announcements[i].time.day %></td>
                            <td>
                                <a href="#">
                                    预览 |
                                </a>
                                <a href="#">
                                    编辑 |
                                </a>
                                <a href="#" style="color: red">
                                    删除
                                </a>
                            </td>
                        </tbody>
                        <%  } %>
                    </table>
                </div>
            </div>

            <div class="col-lg-12" align="center">
                <ul class="pagination">
                    <li>
                        <a href="#" onclick="searchAnnouncements(1)">
                            <span>&laquo;&laquo;</span>
                        </a>
                    </li>
                    <% if (page != 1) { %>
                    <li>
                        <a href="#" onclick="searchAnnouncements(<%= (page - 1) %>)" aria-label="<">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <% } %>
                    <% for(var i = 0; i < total.length; i++)  { %>
                    <li <% if(i == page - 1) { %> class="active" <% } %>><a href="#" onclick="searchAnnouncements(<%= total[i] %>)" ><%= total[i] %></a></li>
                    <% } %>
                    <% if (page != total[total.length - 1]) { %>
                    <li>
                        <a href="#" onclick="searchAnnouncements(<%= (page + 1) %>)" aria-label=">">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <% } %>
                    <li>
                        <a href="#" onclick="searchAnnouncements(<%= total[total.length - 1] %>)" aria-label=">>">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
</div>
</div>

<%- include footer %>
