<%- include header %>
<%- include leftbar %>
<!-- content -->
<div class="col-md-10">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header bootstrap-admin-content-title">
                <h1>公告管理</h1>
                <a href="/main/new-announcements" class="action btn">
                    新增公告
                </a>
            </div>
        </div>
    </div>

    <form id="form" class="form-inline" role="form" method="post" style="margin-top: 1em;margin-bottom: 1em">
        <div class="form-group">
            <label for="name">标题:</label>
            <input type="text" class="form-control" name="title" value="<% if (search.title) { %><%= search.title %><% } %>">
        </div>
        <div class="form-group" style="margin-left: 1em;">
            <label for="name">发布者:</label>
            <select class="form-control" name="name" >
                <option value="">全部</option>
                <% admins.forEach(function (admin) { %>
                    <option <% if (search.name && search.name === admin.alias) { %>selected="selected" <% } %> value="<%= admin.alias %>"><%= admin.alias %></option>
                <% }) %>
            </select>
        </div>
        <button type="submit" class="btn btn-info" style="margin-left: 1em;">查找</button>
    </form>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">公告</div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <table class="table bootstrap-admin-table-with-actions">
                        <colgroup>
                            <col style="width:100px">
                            <col style="width:200px">
                            <col style="width:700px">
                            <col style="width:200px">
                            <col style="width:200px">
                            <col style="width:400px">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>标题</th>
                            <th>公告内容</th>
                            <th>发布者</th>
                            <th>发布日期</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <% if (announcements.length === 0) { %>
                        <tbody>
                        <td /><td /><td>没有相关结果....</td>
                        </tbody>
                        <% } %>
                        <% for (var i = 0; i < announcements.length; i++)  { %>
                        <tbody>
                            <td><%= (page - 1) * 10 + (i + 1) %></td>
                            <td><%= announcements[i].title %></td>
                            <td><%= announcements[i].content.html %></td>
                            <td><%= announcements[i].name %></td>
                            <td><%= announcements[i].time.day %></td>
                            <td>
                                <a href="#" onclick="previewModel('<%= announcements[i].title %>')">
                                    预览 |
                                </a>
                                <a href="/main/announcements/edit/<%= announcements[i].title %>">
                                    编辑 |
                                </a>
                                <a href="/main/announcements/remove/<%= announcements[i].title %>" style="color: red">
                                    删除
                                </a>
                            </td>
                        </tbody>
                        <%  } %>
                    </table>
                </div>
            </div>

            <div class="col-lg-12" align="center">
                <ul class="pagination">
                    <li>
                        <a href="#" onclick="sumbitPage('announcements', 1)">
                            <span>&laquo;&laquo;</span>
                        </a>
                    </li>
                    <% if (page != 1) { %>
                    <li>
                        <a href="#" onclick="sumbitPage('announcements', <%= (page - 1) %>)" aria-label="<">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <% } %>
                    <% for(var i = 0; i < total; i++)  { %>
                    <li <% if(i == page - 1) { %> class="active" <% } %>><a href="#" onclick="sumbitPage('announcements', <%= i + 1 %>)" ><%= i + 1 %></a></li>
                    <% } %>
                    <% if (page != total) { %>
                    <li>
                        <a href="#" onclick="sumbitPage('announcements', <%= (page + 1) %>)" aria-label=">">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <% } %>
                    <li>
                        <a href="#" onclick="sumbitPage('announcements', <%= total %>)" aria-label=">>">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
</div>
</div>

<%- include announcements_model %>
<%- include footer %>
