<%- include header %>

<br/><br/>
<div class="gallery">
    <div class="container">
        <form id="albums-post" method="post" enctype='multipart/form-data'>
            <div class="col-lg-12" id="form">
                <input type="file" style="display:none" id="multiple-file" multiple="multiple" name="img"
                       onchange="onChangeFile(this)"/>
                <input type="text" style="display:none" id="path" name="path" value="" readonly/>
            </div>
        </form>

        <ol class="breadcrumb">
            <li><%= albums.title %></li>
            <li><%= albums.day.day %></li>
        </ol>
        <br/>

        <div class="gallry-info" id="gallry-albums">
            <% for (var i = albums.photos.length - 1; i >= 0; i--) { %>
            <div class="col-md-3 gallery-grids" id="photo-0">
                <a href="#" onclick="openImage('/images<%= albums.photos[i] %>')" class="b-link-stripe b-animate-go  swipebox" title="">
                    <img id="photo0" src="/images<%= albums.photos[i] %>" height="160px" width="260px" alt="">

                    <div class="b-wrapper">
							<span class="b-animate b-from-left b-delay03 ">
								<img class="img-responsive zoom-img img-circle" src="/images/e.png" alt=""/>
							</span>
                    </div>
                </a>

                <% if (user) { %>
                    <div align="center" style="padding-top:1em">
                        <button class="btn btn-danger" onclick="removePhoto('<%= albums.photos[i] %>')"
                                style="display:<% if (user.name !== blogger) { %>none<% } %>">移除
                        </button>
                    </div>
                <% } %>
            </div>
            <% } %>
            <% if (user && user.name === blogger) { %>
            <div class="col-md-3 gallery-grids" align="center" id="add">
                <a href="#" onclick="addPhoto()" class="b-link-stripe b-animate-go  swipebox" style="width:400px;text-align: center;line-height: 160px;vertical-align: middle;display: table-cell;cursor: pointer;" >
                    <img src="/images/albums_add.png" alt="">

                    <div class="b-wrapper">
                        <span class="b-animate b-from-left  b-delay03 "/>
                    </div>
                </a>
            </div>
            <% } %>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="css/swipebox.css">
<script src="js/jquery.swipebox.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $(".swipebox").swipebox();
    });
</script>
<%- include footer %>