<%- include header %>

<div class="features">
    <div class="container">
        <div class="navbar-header">
            <h3>最新日志</h3>
        </div>
        <div class="navbar-right">
            <a href="/space/<%= user.name %>/blogs">查看更多</a>
        </div>
    </div>
    <div class="container">
        <% posts.forEach(function (post) { %>
        <div class="col-sm-6 col-md-4 featur-grids" >
            <div class="thumbnail feature-thmbnl" style="height:180px" >
                <h4><a href="/space/blog/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h4>
                <!--<img src="/images/img7.jpg" alt="">-->
                <div class="caption">
                    <p><%= post.post.html %>...</p>
                    <a href="/space/blog/<%= post.name %>/<%= post.time.day %>/<%= post.title %>" class="btn btn-primary hvr-rectangle-in">Read More</a>
                    <div class="navbar-right">
                        <p><%= post.time.day %></p>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>

    </div>
</div>

	<div class="banner-bottom">
        <div class="container">
            <div class="navbar-header">
                <h3>最新相册</h3>
            </div>
            <div class="navbar-right">
                <a href="/space/<%= user.name %>/albums">查看更多</a>
            </div>
        </div>
		<div class="container">
            <% albums.forEach(function (album) { %>
            <div class="col-md-4 bb-grids">
                <a href="/space/<%= album.name %>/albums/<%= album.id %>" class="thumbnail">
                    <img  style="height: 200px;width: 320px" src="/images<% if (!!!album.photos || album.photos.length === 0) { %>/default_albums_bg.jpg<% } else { %><%= album.photos[0] %><% } %>" alt="">
                </a>
            </div>
            <% }) %>
		</div>
	</div>
	<div class="banner-bottom">
		<div class="container center">
			<h3>Temporibus autem quibusdam et aut officiis debitis aut rerum </h3>
			<p>Donec vitae tellus non sem vulputate cursus. Aliquam erat volutpat. Proin ut est et sem rhoncus fringilla laoreet at mauris. Integer posuere massa metus. Etiam tortor dui, consectetur quis fringilla nec, suscipit non nibh. Cras velit mauris, consectetur sit amet congue a, dictum vehicula lorem. Etiam imperdiet aliquam sapien, dignissim dapibus lectus imperdiet non. </p>
		</div>
	</div>
<%- include footer %>