<%- include header %>
<div class="container">
    <!-- Top menu -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">

                <div class="row">
                    <div class="col-xs-8 col-sm-offset-2 form-box">

                        <form role="form" action="" method="post" class="registration-form" enctype="multipart/form-data">
                            <div class="form-top">
                                <div style="padding-top: 1em;" align="center">
                                    <a href="#" onclick="chooseFile('avater')"><img width="200px" height="200px" id="i-avater" style="border-radius: 500px"  src="/images/<%= result.avater %>" class="img-thumbnail "/></a>
                                    <input type="file" style="display: none" id="avater" name="avater" onchange="changBackground(this, 'i-avater', 0, 0)"/>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <div class="form-group" align="center">
                                    <label class="col-sm-2 control-label">姓名：</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="name" class="form-control" value="<%= result.name %>" readonly>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group" align="center">
                                    <label class="col-sm-2 control-label">出生日期：</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <select class="form-control" name="year">
                                                <% for (var i = year; i >= 1900; i--) { %>
                                                    <option <% if (i === result.year) { %>selected="selected" <% } %>><%= i %></option>
                                                <% } %>
                                            </select>
                                            <span class="input-group-addon">年</span>
                                            <select class="form-control" name="month">
                                                <% for (var i = 1; i <= 12; i++) { %>
                                                    <option <% if (i == parseInt(result.month)) { %>selected="selected" <% } %>><%= i %></option>
                                                <% } %>
                                            </select>
                                            <span class="input-group-addon">月</span>
                                            <select class="form-control" name="day">
                                                <% for (var i = 1; i <= 31; i++) { %>
                                                    <option <% if (i == result.day) { %>selected="selected" <% } %>><%= i %></option>
                                                <% } %>
                                            </select>
                                            <span class="input-group-addon">日</span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group" align="center">
                                    <label class="col-sm-2 control-label">身高：</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="height"  placeholder="保密"<% if(result.height) { %>value="<%= result.height %>"<% } %>>
                                            <span class="input-group-addon">cm</span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group" align="center">
                                    <label class="col-sm-2 control-label" name="weight">体重：</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control"  name="weight" placeholder="保密" <% if(result.weight) { %>value="<%= result.weight %>"<% } %>>
                                            <span class="input-group-addon">kg</span>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group" align="center">
                                    <label class="col-sm-2 control-label">爱好：</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <span class="input-group-addon">1.</span>
                                            <input type="text" class="form-control" name="hobby1" <% if(result.hobby1) { %>value="<%= result.hobby1 %>"<% } %>>
                                            <span class="input-group-addon">2.</span>
                                            <input type="text" class="form-control" name="hobby2" <% if(result.hobby2) { %>value="<%= result.hobby2 %>"<% } %>>
                                            <span class="input-group-addon" >3.</span>
                                            <input type="text" class="form-control" name="hobby3" <% if(result.hobby3) { %>value="<%= result.hobby3 %>"<% } %>>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group" align="center">
                                    <label class="col-sm-2 control-label">邮箱：</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="email" class="form-control" <% if(result.email) { %>value="<%= result.email %>"<% } %>>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="form-group" align="center">
                                        <label class="col-sm-2 control-label">我的签名：</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="3" name="signature" ><% if(result.signature) { %><%= result.signature %><% } %></textarea>
                                        </div>
                                    </div>
                                </div>
                                <br /><br /><br />
                                <div class="form-group" align="center">
                                    <div><button type="submit" class="btn btn-info col-sm-offset-5 col-sm-2">保存</button></div>
                                </div>
                            </div>

                            <!-- Javascript -->
                            <script>$(function ()
                                { $("[data-toggle='popover']").popover();
                                });
                            </script>

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br /><br />
<%- include footer %>